/* using the * applies to everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* apply styles to <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
/* apply style to individual header <h1> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
/* apply style to only <a> in unorganized item list */
header a {
    text-decoration: none;
    color: #fce138
}
/* moves <li> to the right of the screen*/
header nav {
    float: right;
    margin: 7px 0;
}
/* apply style to all <li> in <nav> */
header nav ul li {
    display: inline;
}
/* apply style to all <a> in <li> */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* apply style to <footer> */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
/* apply style to individual footer <h2> */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/* apply style to footer <div> */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
/* apply style to footer <a> */
footer a {
    color: #024e76
}