/* using the * applies to everything */
* {
    margin: 0;
    padding: 0;
}
/* apply styles to <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
    color: #39e6b2;
}

/* apply styles to <header> */
header {
    padding: 10px 25px;
    background-color: #39a6b2;
}
/* apply style to individual header <h1> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
/* apply style to only <a> in unorganized item list */
header a {
    text-decoration: none;
    color: #fce138
}
/* moves <li> to the right of the screen*/
header nav {
    float: right;
    margin: 7px 0;
}
/* turns list into line*/
header nav ul li {
    display: inline;
}
/* apply more in depth style to <li><a>*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138
    margin: 0;
    display: inline;
}